/* Corps de la page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4CAF50, #81C784);
    color: white;
    min-height: 100vh;
    position: relative; /* Ajout pour positionner le footer par rapport au body */
    display: block; /* Remplace flex pour éviter le centrage vertical */
    text-align: center;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto; /* Centre horizontalement */
    position: relative; /* Pour que le contenu reste en place */
}

/* Pied de page */
footer {
    position: fixed; /* Reste en bas même en scrollant */
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.8rem;
    text-align: right;
    padding: 10px 20px;
    z-index: 10;
}

/* Titre principal */
h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Description */
.description {
    margin-bottom: 30px;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
}

/* Conteneur des liens */
.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

/* Style des liens */
.links a {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

/* Hover des liens */
.links a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Logo Instagram */
.logo-instagram {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo-instagram img {
    width: 50px;
    height: auto;
}

.book-back {
    background: white;
    color: black;
    padding: 10px 20px;
    margin: 20px auto;
    max-width: 700px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Contenu du "dos de livre" */
.book-content p {
    text-indent: 2em;
    /* Indente chaque paragraphe de 2 fois la taille de la police */
    margin-top: 0.5em;
    /* Espacement entre les paragraphes */
    margin-bottom: 0.5em;
    text-align: left;
}

/* Image centrée */
.image-container {
    margin: 20px auto;
    max-width: 50%;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}